@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout {
    @apply flex items-center pt-32 px-4 md:justify-center;
  }

  .chip{
    @apply text-white bg-indigo-900 border border-indigo-900 px-3 py-1 rounded-full;
  }
}

@layer utilities {
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
